.comment-container {
  display: flex;
  flex-direction: column; /*세로방향 배치 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  gap: 20px; /* 아이템 사이의 간격 설정 */
}

.commentForm-container{
  margin-left: -360px;
}

.comment-list{
  margin-left: -340px;
}

/* Comment.css 파일 또는 해당하는 CSS 파일 내부 */


.comment-list li {
  display: flex;
  align-items: center; /* 아바타와 텍스트를 수직 정렬 */
  margin-left: -120px; /* 각 아이템 사이의 간격을 조절하실 수 있습니다 */
  /* 추가적인 스타일 규칙을 여기에 추가할 수 있습니다 */
}