*{
    box-sizing: border-box
}

body{
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display', serif;
}

a:link, a:visited{
    text-align: center;
    color: white;
    font-size: larger;
    text-decoration: none;
    position: relative;
}


.container{
    width: 670px;
    margin: 0 auto;
}

.hd{
    position: relative;
    height: auto;
    text-align: center;
    background-color: black;
}

.hd-title{
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 0px;
    color: white;
    background-color: black;
    padding-top: 20px;
    text-decoration: none;
}


/* 링크있는거 마우스 옮겼을 때 색 바뀌게 하는 법 */
.hd-content:hover{
    background-color:rgb(43, 42, 42);
    text-decoration: underline;
    /* 선과 텍스트 사이 간격 조절 */
    text-underline-offset: 15px;
}

/* 마지막 Q&A부분 밑 마진 남는거 배경색 어떻게 하는지 */
.hd-content {
    font-size: 50px;
    margin-top: 20px;
    padding: 20px;
    font-weight: lighter;
    color: white;
}

.hd .container{
    position: relative;
    color: white;
}

.ft{
    margin:0px;
    font-size: 12.2px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: ;
    padding-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;;
    font-weight: bold;
}
/* ft가운데 예쁘게, 일렬로 배치하기 */
.ft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ft .container {
  flex: 1;
  white-space: nowrap;
}

.ft .container p {
  margin: 0;
}

.ft {
    position: relative;
    padding-top: 10px;
  }
  
.ft::after {
    content: '';
    position: absolute;
    top: 0;
    width: 80%;
    height: 1px;
    background-color:white;

    /* 선 가운데로 옮기기 */
    transform: translateX(-50%);
    left: 50%;
  }

   /* span은 inline요소라 설정필요 */
  .ft span {
    display: inline-block;
    margin-bottom: 0px;
  }

  .ft span:not(:last-child)::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 15px;
    margin: 5px;
    background-color: gray
  }
  
  
  


