*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    font-family: 'DM Serif Display', serif;
    background-color: black;
}

a:link, a:visited{
  text-align: center;
  color: white;
  background-color: black;
  text-decoration: none;
}

.container{
    width: 670px;
    margin: 0 auto;
}

.hd-title{
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 0px;
    color: white;
    background-color: black;
    padding-top: 15px;
    text-decoration: none;
    padding-left: 130px;
}

.example{
    margin-left: 200px;
}
.bd-content {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: lighter;
    color: rgb(212, 208, 208);
    font-family:'Noto Sans KR', sans-serif;
    margin-left: 250px;
}

.bd-title{
    margin-top: 50px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    margin-left: 250px;
    font-family: 'Noto Sans KR', sans-serif;
    
}
.ft{
    margin:0px;
    font-size: 12.2px;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.ft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ft .container {
  flex: 1;
  white-space: nowrap;
}

.ft .container p {
  margin: 0;
}

.ft {
    position: relative;
    padding-top: 10px;
  }
  
.ft::after {
    content: '';
    position: absolute;
    top: 0;
    width: 80%;
    height: 1px;
    background-color:white;

    transform: translateX(-50%);
    left: 50%;
  }

  .ft span {
    display: inline-block;
    margin-bottom: 0px;
  }

  .ft span:not(:last-child)::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 15px;
    margin: 5px;
    background-color: gray
  }