*{
    box-sizing: border-box
}

body{
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display', serif;
    background-color: black;
}

a:link, a:visited{
    text-align: center;
    color: white;
    font-size: larger;
    text-decoration: none;
    position: relative;
}


.container{
    width: 670px;
    margin: 0 auto;
}

.hd{
    position: relative;
    height: auto;
    text-align: center;
}

.hd-title{
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 0px;
    color: white;
    padding-top: 15px;
    margin-left: 30px;
}

.hd-line{
    height: 1px; /* 선의 높이 조정 */
    background-color: white; /* 선의 색상 설정 */
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;

}

.img img {
    width: 35%; /* 이미지의 너비 조정 */
    height: auto; /* 이미지의 높이는 자동으로 조정됩니다. */
    margin-left: 230px;
    margin-top: 20px;
}

.img-ex{
    margin-top: 10px;



